:root {
    --font-family: 'Mulish', sans-serif;

    //colors
    --light: #4bbef3c4;
    --primary: #ddd2ff;
    --secondary: rgb(226, 174, 29);
    --dark: #2980b9;
    --text: #333;
    --background: #ffe0e0d8; 
    --hint: #999;
    --border: #ddd;
    --hover_name:rgb(231, 68, 123);
}